body {
    overflow: scroll;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 30px 0;
}

.select-size {
    margin-top: 20vh;
}

.puzzle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.puzzle {
    border: black solid 1px;
    margin-top: 15px;
}

.square {
    border: black solid 1px;
}

.filled {
    background-color: black;
}

.label {
    font-size: small;
    color: black;
    padding: 1px;
    position: absolute;
}

.text {
    text-align: center;
    font-size: 30px;
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: center;
}

.selected {
    background-color: #5bc0de;
}

.finalize {
    margin-bottom: 15px;
}

.edit-button {
    color: red;
}

@media screen and (min-width: 700px) {
    .clues {
        display: flex;
        justify-content: space-around;
    }
  }