body {
    overflow: scroll;
    background-color: white;
}

.container {
    background-color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 30px 0;
}

.select-size {
    margin-top: 20vh;
}

.puzzle-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: white;
}

.puzzle {
    border: black solid 1px;
    margin-top: 15px;
    background-color: white;
}

.square {
    border: black solid 1px;
}

.filled {
    background-color: black;
}

.label {
    color: black;
    padding: 1px;
    position: absolute;
}

.text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.selected-word {
    background-color: #e8e8e8;
}

.selected-letter {
    background-color: #bbbbbb;
}


.finalize {
    margin-bottom: 15px;
}

.edit-button {
    color: red;
}

.clues {
    width: 100vw;
    display: grid;
    grid-template-columns: 10vw 1fr 10vw 1fr 10vw;
    grid-template-rows: 1fr;
    background-color: white;
}

.across {
    grid-column: 2 / 3;
}

.down {
    grid-column: 4 / 5;
}